*{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#4527a0;
}
body{
    padding: 60px;
}

input{
    color: grey;
    width: 100%;
    font-size: 1.2rem;
    border: 3px solid #A3CB38;
    
}


.card{
    align-content: center;
    border:1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden; /*para que los las imagenes no se salgan del borde del contenedor*/

}

.card p{
    padding: 5px;
    text-align: center;
    color: white;

}

.card img{
    max-height: 170px;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}